*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: purple;
    --secondary-color: black;
}
.container{
    background-color: aliceblue;
    border: 2px solid rgb(241, 237, 237);
    border-radius: 23px;
    width: 30vw;
    margin-top: 20px;
    padding: 30px; 
    display: block;
    margin-left: 400px;
    height: 77vh;
    box-shadow: 55px 26px #68446a;
}
input{
    padding: 10px;
    box-shadow: 5px 7px  var(--secondary-color);
    
}
div>h2{
    text-align: center;
    color: var(--primary-color);
    font-weight: 800;
    text-shadow: 1px 2px var(--secondary-color);
}
.content{
    margin-top: 30px;
    font-size: 20px;
}
body{
    background-color: var(--primary-color);
}
div>h3{
    margin-top: 22px;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 23px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 6px var(--secondary-color);
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}
div>p{
    margin-top: 20px;
    text-align: center;
}